logs
native
project/project
project/target
target
tmp
.history
dist
.idea
.idea/*
*.iml
*.log
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.ensime
/.ensime_cache
/tags
*.scssc

*.sassc
*.css.map
**/node_modules
*.mo
**/test-reports
*.DS_store
*.orig
.boot
.sbtopts
scoverage-report
sbtcoverage
*.txt
*.zip

# Python tools
*.pyc

